.location {
    position:absolute;
    z-index: 20;
    left:1.5em;
    font-size: 2em;
    color: crimson;
}
.location a{
    font-size: 0.8em;
}

@media screen and (max-width:780px){
    .location {
        left:3.5em;
        top: 0.5em;
        font-size: 0.6em;
        
    }
    .location a {
        font-size: 0.5em;
        padding: 0;
    }
}