body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  color: rgba(150, 141, 141, 0.377);
}

.none {
  display: none;
}

.sidenav {
  width: 200px;
  position: fixed;
  z-index: 5;
  top: 100px;
  right: 10px;
  background: transparent;
  overflow-x: hidden;
  padding: 8px 0;
  overflow: hidden;
}

.sidenav .but1, .sidenav .but1:hover{
  font-size: 15px;
}

.sidenav button {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  display: block;
  border: transparent;
}

.sidenav button:hover {
  text-decoration: burlywood;
  font-size: 15px;
  background-color: transparent;
  color: beige;
  border-color: #ccc;
}

.sidenav button:focus,
.sidenav button:active {
 
  border-color: #ccc;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .sidenav {
    width: 120px;
    right: 5px;
    top: 25px;
    font-size: 10px;
  }
  .sidenav .but2 {
    font-size: 8px;
  }
  .sidenav .but1, .sidenav .but1:hover{
    font-size: 10px;
  }
  .sidenav button:hover {
    font-size: 10px;
    color: beige;
  }
}

.hr {
  border-top: 2.5px solid rgb(219, 218, 214);
}

#textInfo .hotspot .in {
  height: 20px;
  width: 20px;
}

#textInfo .hotspot .out {
  display: none;
}
