
.area {
  position: absolute;
  top: 3.75em;
  right: 0.625em;
  z-index: 6;
  width:12.5em;
}

.grp {
  position: absolute;
  top: 5.8125em;
  right: 0.625em;
  z-index: 6;
  width:12.5em;
}

.grp2 {
  position: absolute;
  top: 6em;
  right: 13em;
  z-index: 7;
}

.grp2 a {
  text-decoration: none;
  color: #2d4263;
}

.grp2 span {
  display: inline;
  font-size: 0.9em;
}

@media screen and (max-width: 900px)  {
  .area {
    top: 8.5em;
    left: 0.6em;
    width:8em;
    overflow-y: scroll;
  }

  .grp {
    top: 12.7em;
    left: 0.7em;
    font-size: 0.8em;
    width:8em;
  }

  .grp2 {
    top: 12.7em;
    left: 6.7em;
    width:8em;
    overflow-y: scroll;
  }

  .grp2 span {
    display: inline;
    font-size: 0.9em;
  }
}
