.spinner {
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 40vh 40vw;

}
.spinner:after {
  content: ' ';
  display: block;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: 6px solid teal;
  border-color: teal transparent teal transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loc {
  margin:10em 36em;
}

@media screen and (max-width:780px){
  .loc {
    margin:5em 2em;
  }
}
